/*
 * Copyright 2010 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/* Author: slightlyoff@google.com (Alex Russell) */
/* Author: eae@google.com (Emil A Eklund) */

/* Imageless button styles. */
.flat-button {
  display: inline-block;
  min-width: 46px;
  text-align: center;
  color: rgb(68, 68, 68);
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  padding: 0 8px;
  line-height: 25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -ms-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  border: 1px solid rgb(220, 220, 220);
  background-color: rgb(245, 245, 245);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245, 245, 245)), to(rgb(241, 241, 241)));
  background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
  background-image: -moz-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
  background-image: -ms-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
  background-image: -o-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
  background-image: linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  outline: none !important;
}

.flat-button:active {
}

.flat-button:hover {
}

.flat-button:visited {
  color: rgb(102, 102, 102);
}

/* Styles for different states (hover, active, focused, open, checked). */
.flat-button-hover {
  border: 1px solid rgb(198, 198, 198);
  color: rgb(51, 51, 51);
  text-decoration: none;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -ms-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: rgb(248, 248, 248);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(248, 248, 248)), to(rgb(241, 241, 241)));
  background-image: -webkit-linear-gradient(top, rgb(248, 248, 248), rgb(241, 241, 241));
  background-image: -moz-linear-gradient(top, rgb(248, 248, 248), rgb(241, 241, 241));
  background-image: -ms-linear-gradient(top, rgb(248, 248, 248), rgb(241, 241, 241));
  background-image: -o-linear-gradient(top, rgb(248, 248, 248), rgb(241, 241, 241));
  background-image: linear-gradient(top, rgb(248, 248, 248), rgb(241, 241, 241));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.flat-button-focused {
  /*border-color: #444;*/
}

.flat-button-active, .flat-button-open, .flat-button-checked {
  background: rgb(246, 246, 246) none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.flat-button-disabled {
  color: #888;
}

.flat-button-primary {
  font-weight: bold;
}

/*
 * Pill (collapsed border) styles.
 */
.flat-button-collapse-right {
  margin-right: 0 !important;
  border-right: 1px solid #bbb;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
}

.flat-button-collapse-left {
  border-left: 1px solid #f9f9f9;
  margin-left: 0 !important;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
}

.flat-button-checked {
  background: rgba(198, 198, 198, 0.51) none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border-color: rgb(150, 150, 150);
}

/*----------------------------------------------------------------------------*/
.g-button-warn {
  border: 1px solid rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  background-color: rgb(209, 72, 54);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(221, 75, 57)), to(rgb(209, 72, 54)));
  background-image: -webkit-linear-gradient(top, rgb(221, 75, 57), rgb(209, 72, 54));
  background-image: -moz-linear-gradient(top, rgb(221, 75, 57), rgb(209, 72, 54));
  background-image: -ms-linear-gradient(top, rgb(221, 75, 57), rgb(209, 72, 54));
  background-image: -o-linear-gradient(top, rgb(221, 75, 57), rgb(209, 72, 54));
  background-image: linear-gradient(top, rgb(221, 75, 57), rgb(209, 72, 54));
  outline: none;
}

.g-button-warn:hover {
  border: 1px solid rgb(176, 40, 26);
  color: rgb(255, 255, 255);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: rgb(197, 55, 39);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(221, 75, 57)), to(rgb(197, 55, 39)));
  background-image: -webkit-linear-gradient(top, rgb(221, 75, 57), rgb(197, 55, 39));
  background-image: -moz-linear-gradient(top, rgb(221, 75, 57), rgb(197, 55, 39));
  background-image: -ms-linear-gradient(top, rgb(221, 75, 57), rgb(197, 55, 39));
  background-image: -o-linear-gradient(top, rgb(221, 75, 57), rgb(197, 55, 39));
  background-image: linear-gradient(top, rgb(221, 75, 57), rgb(197, 55, 39));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.g-button-warn:focus {
  border-color: rgb(209, 72, 54);
}

.g-button-warn:active {
  border: 1px solid rgb(153, 42, 27);
  background-color: rgb(176, 40, 26);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(221, 75, 57)), to(rgb(176, 40, 26)));
  background-image: -webkit-linear-gradient(top, rgb(221, 75, 57), rgb(176, 40, 26));
  background-image: -moz-linear-gradient(top, rgb(221, 75, 57), rgb(176, 40, 26));
  background-image: -ms-linear-gradient(top, rgb(221, 75, 57), rgb(176, 40, 26));
  background-image: -o-linear-gradient(top, rgb(221, 75, 57), rgb(176, 40, 26));
  background-image: linear-gradient(top, rgb(221, 75, 57), rgb(176, 40, 26));
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
}

/*----------------------------------------------------------------------------*/
.g-button-action {
  border: 1px solid rgb(48, 121, 237);
  color: rgb(255, 255, 255);
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: rgb(77, 144, 254);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(77, 144, 254)), to(rgb(71, 135, 237)));
  background-image: -webkit-linear-gradient(top, rgb(77, 144, 254), rgb(71, 135, 237));
  background-image: -moz-linear-gradient(top, rgb(77, 144, 254), rgb(71, 135, 237));
  background-image: -ms-linear-gradient(top, rgb(77, 144, 254), rgb(71, 135, 237));
  background-image: -o-linear-gradient(top, rgb(77, 144, 254), rgb(71, 135, 237));
  background-image: linear-gradient(top, rgb(77, 144, 254), rgb(71, 135, 237));
  outline: none;
}

.g-button-action:active {
  background-color: rgb(53, 122, 232);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(77, 144, 254)), to(rgb(53, 122, 232)));
  background-image: -webkit-linear-gradient(top, rgb(77, 144, 254), rgb(53, 122, 232));
  background-image: -moz-linear-gradient(top, rgb(77, 144, 254), rgb(53, 122, 232));
  background-image: -ms-linear-gradient(top, rgb(77, 144, 254), rgb(53, 122, 232));
  background-image: -o-linear-gradient(top, rgb(77, 144, 254), rgb(53, 122, 232));
  background-image: linear-gradient(top, rgb(77, 144, 254), rgb(53, 122, 232));
  -webkit-box-shadow: inset 0 1px 2px rgb a(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.g-button-action.flat-button-focused,
.g-button-warn.flat-button-focused {
  -webkit-box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
  -moz-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
}

.g-button-action:hover {
  border: 1px solid rgb(47, 91, 183);
  color: rgb(255, 255, 255);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: rgb(53, 122, 232);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(77, 144, 254)), to(rgb(53, 122, 232)));
  background-image: -webkit-linear-gradient(top, rgb(77, 144, 254), rgb(53, 122, 232));
  background-image: -moz-linear-gradient(top, rgb(77, 144, 254), rgb(53, 122, 232));
  background-image: -ms-linear-gradient(top, rgb(77, 144, 254), rgb(53, 122, 232));
  background-image: -o-linear-gradient(top, rgb(77, 144, 254), rgb(53, 122, 232));
  background-image: linear-gradient(top, rgb(77, 144, 254), rgb(53, 122, 232));
}
