/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuItemRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


/**
 * State: resting.
 *
 * NOTE(mleibman,chrishenry):
 * The RTL support in Closure is provided via two mechanisms -- "rtl" CSS
 * classes and BiDi flipping done by the CSS compiler.  Closure supports RTL
 * with or without the use of the CSS compiler.  In order for them not
 * to conflict with each other, the "rtl" CSS classes need to have the @noflip
 * annotation.  The non-rtl counterparts should ideally have them as well, but,
 * since .flat-menuitem existed without .flat-menuitem-rtl for so long before
 * being added, there is a risk of people having templates where they are not
 * rendering the .flat-menuitem-rtl class when in RTL and instead rely solely
 * on the BiDi flipping by the CSS compiler.  That's why we're not adding the
 * @noflip to .flat-menuitem.
 */
.flat-menuitem {
  /*color: #000;*/
  /*font: normal 13px Arial, sans-serif;*/
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 7em on the right for shortcut. */
  padding: 7px 7em 7px 28px;
  /*white-space: nowrap;*/


    display: block;
    /*padding: 3px 20px;*/
    clear: both;
    font-weight: normal;
    line-height: 20px;
    /*color: rgb(51, 51, 51);*/
    white-space: nowrap;



}

/* BiDi override for the resting state. */
/* @noflip */
.flat-menuitem.flat-menuitem-rtl {
  /* Flip left/right padding for BiDi. */
  padding-left: 7em;
  padding-right: 28px;
}

/* If a menu doesn't have checkable items or items with icons, remove padding. */
.goog-menu-nocheckbox .flat-menuitem,
.goog-menu-noicon .flat-menuitem {
  padding-left: 12px;
}

/*
 * If a menu doesn't have items with shortcuts, leave just enough room for
 * submenu arrows, if they are rendered.
 */
.goog-menu-noaccel .flat-menuitem {
  padding-right: 20px;
}

.flat-menuitem-content {
  /*color: #000;*/
  /*font: normal 13px Arial, sans-serif;*/
    font-size: 13px;
}

/* State: disabled. */
.flat-menuitem-disabled .flat-menuitem-accel,
.flat-menuitem-disabled .flat-menuitem-content {
  color: #ccc !important;
}
.flat-menuitem-disabled .flat-menuitem-icon {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* State: hover. */
.flat-menuitem-highlight,
.flat-menuitem-hover {
  background-color: #dadada;
  /* Use an explicit top and bottom border so that the selection is visible
   * in high contrast mode. */
  border-color: #dadada;
  border-style: dotted;
  border-width: 1px 0;
  padding-bottom: 6px;
  padding-top: 6px;
}

/* State: hover. */
.flat-menuitem-active {
  background-color: #dadada;
}

.flat-menuitem-stickey-select {
    background-color: #e6e6e6;
}

/* State: selected/checked. */
.flat-menuitem-checkbox,
.flat-menuitem-icon {
  background-repeat: no-repeat;
  height: 16px;
  left: 6px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 16px;
}

/* BiDi override for the selected/checked state. */
/* @noflip */
.flat-menuitem-rtl .flat-menuitem-checkbox,
.flat-menuitem-rtl .flat-menuitem-icon {
  /* Flip left/right positioning. */
  left: auto;
  right: 6px;
}

.goog-option-selected .flat-menuitem-checkbox,
.goog-option-selected .flat-menuitem-icon {
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -512px 0;
}

/* Keyboard shortcut ("accelerator") style. */
.flat-menuitem-accel {
  color: #999;
  /* Keyboard shortcuts are untranslated; always left-to-right. */
  /* @noflip */ direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}

/* BiDi override for shortcut style. */
/* @noflip */
.flat-menuitem-rtl .flat-menuitem-accel {
  /* Flip left/right positioning and text alignment. */
  left: 0;
  right: auto;
  text-align: left;
}

/* Mnemonic styles. */
.flat-menuitem-mnemonic-hint {
  text-decoration: underline;
}

.flat-menuitem-mnemonic-separator {
  color: #999;
  font-size: 12px;
  padding-left: 4px;
}
