.tst_flex-container {
  display: flex;
  flex-flow: column nowrap;
}

.tst_flex-item {
  flex: 1;
  order: 1;
  flex-basis: auto;
}

.pan-wrapper {
  position: absolute;
  //background-color: #E4E4E4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tst_panel_a {
  position: relative;
  height: 100%;
  width: 100%;
}

.tst_content > .tst_panel_a {
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
}

.tst_toolbar {
  background-color: #953b39;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.tst_tool_group {
  display: flex;
  align-items: center;
}

.tst_tool_group_left {
  background-color: pink;
  margin-right: 5px;
}

.tst_tool_head_group {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 2;
  background-color: chocolate;
}

.tst_tool_head_group > h1,
.tst_tool_head_group > h2,
.tst_tool_head_group > h3,
.tst_tool_head_group > h4 {
  line-height: 48px;
}


.tst_tool_group_right {
  margin-right: 5px;
  background-color: coral;
}


/* Large */
.tst_tabbar {
  background-color: orange;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .tst_tabbar {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
  .tst_toolbar {
    flex-direction: column;
  }
  .tst_toolbar > .tst_tool_group {
    min-width: 100%;
  }
  .tst_tool_head_group {
    order:1;
    justify-content: space-around;
    flex-direction: column;
  }
  .tst_tool_group_left {
    order: 2;
    justify-content: space-around;
  }
  .tst_tool_group_right {
    order: 3;
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .tst_tabbar {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .tst_actionbar > .tst_tool_group {
    flex-direction: column;
  }
}

.tst_content {
  position: relative;
  flex: 999999 !important;
}

.tst_actionbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: mediumpurple;
}

.tst_button {
  position: relative;
  text-align: center;
}

.tst_button:hover {
  cursor: pointer;
}

.tst_actionbar > .tst_tool_group > .tst_button {
  margin: 24px;
}

.tst_actionbar > .tst_action_group_left > .tst_button {
  margin-right: 0;
}

.tst_actionbar > .tst_action_group_right > .tst_button {
  margin-left: 0;
}

.tst_tabbar > .tst_button {
  margin: 5px;
}

.tst_tabbar.tst_tabbar_padded > .mdc-menu-anchor > .tst_button,
.tst_tabbar.tst_tabbar_padded > .tst_button {
  margin: 18px 5px;
}

.tst_toolbar .tst_button {
  margin-left: 5px;
  padding: 0;
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.tst_tool_head_group * {
  margin: 0 1rem;
}


.scrolly_content {
  position: absolute;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  padding: 0 1em;
}

.tst_content.center_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tst_content.center_end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tst_content.center_start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bottom_right-absolute-fab {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  #bottom_right-absolute-fab {
    bottom: 3rem;
    right: 5rem;
  }
}

/* Panels inside panel content ---------------------------------------------- */

.tst_content.tst_floaty_content > .pan-wrapper {
  position: relative;
  left: initial;
  right: initial;
  top: initial;
  bottom: initial;
}

.tst_content.tst_floaty_content {
  align-items: baseline;
  justify-content: flex-start;
  overflow: auto;
  flex-flow: row wrap;
}

.tst_content.tst_floaty_content.center_center {
  align-items: center;
  justify-content: center;
}

.tst_content.tst_floaty_content.baseline_center {
  align-items: baseline;
  justify-content: center;
}

.tst_content.tst_floaty_content.center_center > .pan-wrapper,
.tst_content.tst_floaty_content.baseline_center > .pan-wrapper {
  margin: 30px 0 0 0;
}


/* A modal */
body > .pan-wrapper {
  background: rgba(0,0,0,0.75);
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  display: flex;
}

body > .pan-wrapper > .tst_panel_a {
    height: auto;
    width: auto;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
                0 6px 10px 0 rgba(0, 0, 0, 0.14),
                0 1px 18px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
  }


